In [1]:
from configs import merged_cycle_data_file
import pandas as pd
from sklearn.model_selection import train_test_split

### Load the weather & holiday data

In [29]:
from configs import weather_data_csv

holidays = 'holidays.csv'
hol_df = pd.read_csv(holidays, index_col='date', parse_dates=['date'])
weather_df = pd.read_csv(weather_data_csv, index_col='timestamp', parse_dates=['timestamp'])
weather_df.head()

                     temperature  feelsLike  wind  weatherCode
timestamp
2015-01-01 00:00:00            3         -2    21          116
2015-01-01 01:00:00            3         -2    21          116
2015-01-01 02:00:00            3         -1    20          116
2015-01-01 03:00:00            3         -1    20          116
2015-01-01 04:00:00            4          0    20          116

In [53]:
# get a set of the holiday dates
hol_set= set(hol_df.index.map(lambda x: x.date()))

### Load the merged csv file by reading it in chunks

In [87]:
%%time
from datetime import datetime
import time
chunk_size = 1000000
date_mapper = lambda x: pd.to_datetime(datetime(year=x.year, month=x.month, day=x.day, hour=x.hour))

bike_share_df = pd.DataFrame()
iter_ = pd.read_csv(merged_cycle_data_file, chunksize=chunk_size, iterator=True,
        index_col='Rental Id',
        parse_dates=['End Date', 'Start Date'])

r_start = time.time()
for i, df in enumerate(iter_):
    r_end = time.time()
    print(f'{i+1}. Read rows {chunk_size*i}:{chunk_size*(i+1)} in {r_end-r.start:.3f}. ', end='')

    start = time.time()
    old_size = len(df)
    df = df.dropna()
    # print(f'Old size: {old_size}; New size: {len(df)}')
    # leave only entries that are shorter than 2 hours and have valid duration
#     df = df[(df['Duration'] >= 0) & (df['Duration'] <= 2 * 60 * 60)]
    df = df[df['Duration'] >= 0]
    
    diff = df['End Date'] - df['Start Date'] # compute the difference between the objects
    seconds = diff.map(lambda x: x.total_seconds()) # map to seconds
    df = df[(df['Duration'] == seconds) & (seconds >= 0)] # check if duration matches the result and if the result is positive
    
    
    # keep only year, month, day, hour information from the start date
    df['Start Date'] = df['Start Date'].map(date_mapper)
    
    share_df = df.groupby('Start Date').agg({'Start Date': 'count'}).rename(columns={'Start Date': 'share_count'})
    share_df = share_df.join(weather_df)
    share_df = share_df.reset_index()
    share_df = share_df.dropna()
    
    share_df['month'] = share_df['Start Date'].apply(lambda t: t.month)
    share_df['weekday'] = share_df['Start Date'].apply(lambda t: t.weekday())
    share_df['hour'] = share_df['Start Date'].apply(lambda t: t.hour)
    share_df['is_holiday'] = share_df['Start Date'].map(lambda x: x.date() in hol_set).map(lambda x: '1' if x else '0')
    # check if start date hits on a weekend
    # monday is 0, sunday is 6
    share_df['is_weekend'] = share_df['Start Date'].map(lambda x: x.weekday() > 4).map(lambda x: '1' if x else '0')
    share_df['weatherCode'] = share_df['weatherCode'].map(lambda x: str(int(x)))
    
    bike_share_df = bike_share_df.append(share_df)
    end = time.time()
    print(f'Completed cleaning & merging in {end-start:3.3f} seconds.')
    r_start = time.time()

print('Finished reading!')
bike_share_df = bike_share_df.reset_index().drop(columns=['index']) # fix the index

1. Reading rows 0:1000000. Completed cleaning & merging in 97.826 seconds.
2. Reading rows 1000000:2000000. Completed cleaning & merging in 100.976 seconds.
3. Reading rows 2000000:3000000. Completed cleaning & merging in 95.744 seconds.
4. Reading rows 3000000:4000000. Completed cleaning & merging in 94.829 seconds.
5. Reading rows 4000000:5000000. Completed cleaning & merging in 96.906 seconds.
6. Reading rows 5000000:6000000. Completed cleaning & merging in 95.140 seconds.
7. Reading rows 6000000:7000000. Completed cleaning & merging in 95.473 seconds.
8. Reading rows 7000000:8000000. Completed cleaning & merging in 103.139 seconds.
9. Reading rows 8000000:9000000. Completed cleaning & merging in 104.653 seconds.
10. Reading rows 9000000:10000000. Completed cleaning & merging in 95.514 seconds.
11. Reading rows 10000000:11000000. Completed cleaning & merging in 97.521 seconds.
12. Reading rows 11000000:12000000. Completed cleaning & merging in 103.394 seconds.
13. Reading rows 12000000:13000000. Completed cleaning & merging in 96.022 seconds.
14. Reading rows 13000000:14000000. Completed cleaning & merging in 96.060 seconds.
15. Reading rows 14000000:15000000. Completed cleaning & merging in 99.951 seconds.
16. Reading rows 15000000:16000000. Completed cleaning & merging in 99.816 seconds.
17. Reading rows 16000000:17000000. Completed cleaning & merging in 99.460 seconds.
18. Reading rows 17000000:18000000. Completed cleaning & merging in 99.843 seconds.
19. Reading rows 18000000:19000000. Completed cleaning & merging in 100.307 seconds.
20. Reading rows 19000000:20000000. Completed cleaning & merging in 97.710 seconds.
21. Reading rows 20000000:21000000. Completed cleaning & merging in 97.535 seconds.
22. Reading rows 21000000:22000000. Completed cleaning & merging in 97.329 seconds.
23. Reading rows 22000000:23000000. Completed cleaning & merging in 99.046 seconds.
24. Reading rows 23000000:24000000. Completed cleaning & merging in 99.777 seconds.
25. Reading rows 24000000:25000000. Completed cleaning & merging in 97.951 seconds.
26. Reading rows 25000000:26000000. Completed cleaning & merging in 104.754 seconds.
27. Reading rows 26000000:27000000. Completed cleaning & merging in 100.634 seconds.
28. Reading rows 27000000:28000000. Completed cleaning & merging in 101.489 seconds.
29. Reading rows 28000000:29000000. Completed cleaning & merging in 105.413 seconds.
30. Reading rows 29000000:30000000. Completed cleaning & merging in 101.980 seconds.
31. Reading rows 30000000:31000000. Completed cleaning & merging in 97.878 seconds.
32. Reading rows 31000000:32000000. Completed cleaning & merging in 96.939 seconds.
33. Reading rows 32000000:33000000. Completed cleaning & merging in 96.043 seconds.
34. Reading rows 33000000:34000000. Completed cleaning & merging in 99.180 seconds.
35. Reading rows 34000000:35000000. Completed cleaning & merging in 95.448 seconds.
36. Reading rows 35000000:36000000. Completed cleaning & merging in 97.326 seconds.
37. Reading rows 36000000:37000000. Completed cleaning & merging in 97.637 seconds.
38. Reading rows 37000000:38000000. Completed cleaning & merging in 98.190 seconds.
39. Reading rows 38000000:39000000. Completed cleaning & merging in 78.792 seconds.
40. Reading rows 39000000:40000000. Completed cleaning & merging in 53.697 seconds.
41. Reading rows 40000000:41000000. Completed cleaning & merging in 79.023 seconds.
42. Reading rows 41000000:42000000. Completed cleaning & merging in 100.242 seconds.
43. Reading rows 42000000:43000000. Completed cleaning & merging in 95.997 seconds.
44. Reading rows 43000000:44000000. Completed cleaning & merging in 96.595 seconds.
45. Reading rows 44000000:45000000. Completed cleaning & merging in 96.007 seconds.
46. Reading rows 45000000:46000000. Completed cleaning & merging in 96.345 seconds.
47. Reading rows 46000000:47000000. Completed cleaning & merging in 96.103 seconds.
48. Reading rows 47000000:48000000. Completed cleaning & merging in 54.170 seconds.
CPU times: user 3h 41min 56s, sys: 19.7 s, total: 3h 42min 15s
Wall time: 3h 40min 30s

In [88]:
bike_share_df.shape

(42768, 11)

In [89]:
bike_share_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42768 entries, 0 to 42767
Data columns (total 11 columns):
Start Date     42768 non-null datetime64[ns]
share_count    42768 non-null int64
temperature    42768 non-null float64
feelsLike      42768 non-null float64
wind           42768 non-null float64
weatherCode    42768 non-null object
month          42768 non-null int64
weekday        42768 non-null int64
hour           42768 non-null int64
is_holiday     42768 non-null object
is_weekend     42768 non-null object
dtypes: datetime64[ns](1), float64(3), int64(4), object(3)
memory usage: 3.6+ MB

In [90]:
bike_share_df.head(20)

,Start Date,share_count,temperature,feelsLike,wind,weatherCode,month,weekday,hour,is_holiday,is_weekend
0,2016-01-02 00:00:00,129,8.0,4.0,36.0,122,1,5,0,0,1
1,2016-01-02 01:00:00,61,8.0,4.0,35.0,122,1,5,1,0,1
2,2016-01-02 02:00:00,35,9.0,5.0,33.0,122,1,5,2,0,1
3,2016-01-02 03:00:00,31,9.0,5.0,32.0,122,1,5,3,0,1
4,2016-01-02 04:00:00,33,9.0,5.0,31.0,122,1,5,4,0,1
5,2016-01-02 05:00:00,95,9.0,6.0,30.0,122,1,5,5,0,1
6,2016-01-02 06:00:00,512,10.0,6.0,29.0,122,1,5,6,0,1
7,2016-01-02 07:00:00,1813,10.0,6.0,31.0,122,1,5,7,0,1
8,2016-01-02 08:00:00,3715,10.0,6.0,33.0,122,1,5,8,0,1
9,2016-01-02 09:00:00,1862,10.0,6.0,35.0,122,1,5,9,0,1
10,2016-01-02 10:00:00,806,10.0,6.0,34.0,122,1,5,10,0,1
11,2016-01-02 11:00:00,676,10.0,7.0,32.0,122,1,5,11,0,1
12,2016-01-02 12:00:00,865,10.0,7.0,31.0,122,1,5,12,0,1
13,2016-01-02 13:00:00,832,10.0,6.0,32.0,122,1,5,13,0,1
14,2016-01-02 14:00:00,794,10.0,6.0,33.0,122,1,5,14,0,1
15,2016-01-02 15:00:00,919,9.0,5.0,35.0,122,1,5,15,0,1
16,2016-01-02 16:00:00,1355,9.0,6.0,32.0,122,1,5,16,0,1
17,2016-01-02 17:00:00,2840,10.0,6.0,30.0,122,1,5,17,0,1
18,2016-01-02 18:00:00,2685,10.0,7.0,28.0,122,1,5,18,0,1
19,2016-01-02 19:00:00,1530,10.0,6.0,30.0,122,1,5,19,0,1

In [91]:
bike_share_df.to_csv('shares-1.csv')

In [92]:
bike_share_df[bike_share_df['Start Date'] == '2018-12-07 10:00:00']

,Start Date,share_count,temperature,feelsLike,wind,weatherCode,month,weekday,hour,is_holiday,is_weekend
8115,2018-12-07 10:00:00,996,12.0,10.0,27.0,296,12,4,10,0,0
8959,2018-12-07 10:00:00,292,12.0,10.0,27.0,296,12,4,10,0,0